name: Verify Pull Request

on:
  pull_request:
    paths:
      - 'api/**'
      - 'dependencies/**'
      - 'plugin/**'
      - '.github/workflows/**'
      - '*.gradle*'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Restore Gradle cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build --stacktrace
